<div class="jumbotron">
    <div class="container">

        <h1 class="color-change">EAT-DA-BURGER</h1>
        <br>
        <h2>Add A Burger</h2>
        <form id="create-form">
            <div class="form-group">
                <label for="ca" class="color-change">New Burgers:</label>
                <input type="text" id="ca" name="name">
            </div>
            <button type="submit" class="btn btn-warning">Add Burger</button>
        </form>
    </div> {{!jumbotron}}
</div>{{!div for container for add a burger}}
<br>
{{!Burgers that are uneaten}}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Burgers to Devour</h2>
                    </div>{{!div panel-heading}}
                    <hr>
                    <div class="panel-body">
                        <ul>
                            {{#each burgers}}
                            {{#unless devoured}}
                            {{> burger-block eaten=true}}
                            <span><strong>{{id}}.{{burger_name}}</strong></span>
                            <hr>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div> {{!div panel-body}}
            </div> {{!div for panel-default}}
        </div> {{!div for col-sm-6}}

        {{!-- <div class="row"> --}}
            <div class="col-sm-6">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Devoured Burgers</h2>
                        </div>
                        <hr>
                        <div class="panel-body">
                            <ul>
                                {{#each burgers}}
                                {{#if devoured}}
                                {{> burger-block eaten=false}}
                                <span><strong>{{id}}.{{burger_name}}</strong></span>
                                <hr>
                                {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div> {{!div for panel-body}}
                </div> {{!div for col-sm-6}}
            </div> {{!div for row}}
        </div> {{!div for row}}
        {{!-- End row for eat burger burgers that have been eaten --}}
    </div>
    {{!-- End div container for burgers to be eaten section --}}
</div>